.button{
  border: black;
  border-radius: 3%;
  width: 10%;
  height: 50px;
  margin-left: 5%;
  font-weight: bold;
  font-size: x-large;
  background-color: #d7fcfc;
}
.input{
  background-color: azure;
  height: 50px;
  width: 5%;
  margin-left: 20px;
  font-size: 20px;
}


